<div class="modal fade" id="divEdit" role="dialog">
    <div class="modal-dialog" role="document" style="width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="float: left">Usuário Selecionado</h4>
                <button class="btn btn-default" data-dismiss="modal" style="width: 35px; float: right;">x</button>
            </div>
            <div class="modal-body">
                <p>Código: <input class="form-control txtCodigo" style="width: 100%;" disabled="disabled" /></p>
                <p>Nome: <input class="form-control txtNome" style="width: 100%;" /></p>
                <p>Data de Nascimento: <input type="date" class="form-control txtDataNascimento" min="1900-01-01" max="@DateTime.Now.ToString("d")" placeholder="0000-00-00" style="width: 100%;" /></p>
                <p style="text-align: right;"><label id="btnSalvarUsuario" type="button" class="btn btn-primary">Salvar</label></p>
            </div>
        </div>
    </div>
</div>